*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    overflow-x: hidden;
    /* scrollbar-width: none; */
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
}

.nav {
    display: flex;
    width: 100vw;
    height: 12vh;
    justify-content: center;
    align-items: center; 
    margin-top: 0.5%;
}

.nav-box {
    display: flex;
    width: 95vw;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    /* border: 1px solid green; */
    width: 9vw;
    height: 14vh;
    justify-content: center;
    align-items: center;
}

.nav-logo img {
    width: 100%;
    height: 100%;
}

.nav-burger {
    display: flex;
    /* border: 1px solid green; */
    width: 12vw;
    height: 14vh;
    justify-content: center;
    align-items: center;
}

.nav-burger img {
    margin-left: 27%;
    width: 55%;
    height: 55%;
    transition: transform 0.3s ease-in-out;
}

.nav-burger.active img {
    transform: translateX(-300%);
}

.menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    background: linear-gradient(to bottom, #000, #171E2B);
    /* background-color: #1c1c1c; */
    transition: right 0.3s ease-in-out;
    overflow-y: auto;
    border: 1px solid #ffffff07; 
}

.menu.active {
    right: 0;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    color: #3761b9;
}

.menu-header span {
    font-size: 1.2em;
    font-weight: bold;
}

#closeMenu {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

.menu a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #2c2c2c;
}

.menu a:hover {
    background-color: #2c2c2c;
}

.menu a span {
    float: right;
}

.main{
    display: flex;
    /* border: 1px solid red; */
    width: 100vw;
    height: 88vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #000, #171E2B);
    /* background: #171E2B; */
}

.box-1 {
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    width: 90vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    overflow: hidden;
}

.box-1 img {
    width: 30%;
    height: 50%;
    border-radius: 20px;
    margin-bottom: 3%;
}

.box-1 h1{
    margin-bottom:1%;
}

.box-1 p {
    font-size: 120%;
    color: #fff;
}

.section{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    background: linear-gradient(to bottom, #171E2B, #000);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.section-title{
    display: flex;
    margin-top: 1%;
    /* border: 1px solid blue; */
    width: 90vw;
    height: 12vh;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.section-title h1{
    font-size: 300%;
}

.section-base{
    display: flex;
    /* border: 1px solid green; */
    width: 90vw;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}

.section-base h1{
    display: flex;
    /* border: 1px solid white; */
    width: 40vw;
    font-size: 150%;
    text-align: justify;
    font-weight: normal;
}

.section-base img{
    width: 34%;
    height: auto;
    border-radius: 10%;
    transition: transform 0.3s ease;
}

.section-base img:hover{
    transform: scale(1.1);
}


.objetivos{
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    /* border: 1px solid yellow; */
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #000, #171E2B);
}

.objetivos-title{
    display: flex;
    /* border: 1px solid red; */
    width: 90vw;
    height: 12vh;
    justify-content: center;
    align-items: center;
}

.objetivos-title h1{
    font-size: 300%;
    color: #fff;
}

.objetivos-box{
    display: flex;
    /* border: 1px solid blue; */
    width: 90vw;
    height: 100%;
    justify-content: space-evenly;   
    align-items: center;
}

.objetivos-each{
    display: flex;
    flex-direction: column;
    /* border: 1px solid green; */
    width: 25vw;
    height: 50vh;
    text-align: justify;
    color: #fff;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.objetivos-each:hover{
    transform: scale(1.1);
}

.objetivos-each img{
    width: 30%;
    height: auto;
    margin-bottom: 12%;
}


.mvv{
    display: flex;
    /* border: 1px solid green; */
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #171E2B, #000);
}


.mvv-box{
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    width: 90vw;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
}

.mision{
    display: flex;
    /* border: 1px solid yellow; */
    padding: 2%;
    height: 20vh;
    align-items: center;
    color: #fff;
    justify-content: space-evenly;
}

.mision:hover{
    background: linear-gradient(to right, #ffffff17, #ffffff41);
    cursor: pointer;
}

.mision h1{
    font-size: 400%;
}

.mision p{
    width: 80%;
    margin-left: 5%;
    font-size: 180%;
}

.vision{
    display: flex;
    /* border: 1px solid red; */
    height: 20vh;
    padding: 2%;
    align-items: center;
    color: #fff;
    justify-content: space-evenly;
}

.vision:hover{
    background: linear-gradient(to left, #ffffff17, #ffffff41);
    cursor: pointer;
}

.vision h1{
    font-size: 400%;
}

.vision p{
    width: 80%;
    margin-right: 5%;
    font-size: 180%;
}

.valores{
    display: flex;
    /* border: 1px solid yellow; */
    height: 20vh;
    padding: 2%;
    align-items: center;
    color: #fff;
    justify-content: space-evenly;
}

.valores:hover{
    background: linear-gradient(to right, #ffffff17, #ffffff41);
    cursor: pointer;
}

.valores h1{
    font-size: 400%;
}

.valores p{
    width: 80%;
    margin-left: 5%;
    font-size: 180%;
}


.certif{
    display: flex;
    flex-direction: column;
    /* border: 1px solid green; */
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;    
    background: linear-gradient(to bottom, #000, #171E2B);
}

.certif-title{
    display: flex;
    /* border: 1px solid yellow; */
    margin-top: 2%;
    width: 90vw;
    height: 12vh;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.certif-title h1{
    font-size: 300%;
}

.certif-box{
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    width: 90vw;
    height: 100%;
    justify-content: space-evenly;
}

.certif-1{
    display: flex;
    /* border: 1px solid red; */
    margin-top: 0%;
    width: 90vw;
    height: 38vh;
    justify-content: space-evenly;
}

.a-box1{
    display: flex;
    border: 1px solid rgb(255, 255, 255);
    padding: 2%;
    width: 20vw;
    height: 100%;
    border-radius: 20px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #ffffff9d;
}

.a-box1:hover{
    background-image: url("/public/storage/img/js.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.a-box1_1{
    display: flex;
    border: 1px solid rgb(255, 255, 255);
    width: 20vw;
    height: 100%;
    border-radius: 20px;
    text-decoration: none;
    justify-content: center;
    padding: 2%;
    align-items: center;
    color: #ffffff9d;
}

.a-box1_1:hover{
    background-image: url("/public/storage/img/web.svg");
    background-size: cover;
    background-repeat: no-repeat;
}


.certif-2{
    display: flex;
    /* border: 1px solid red; */
    width: 90vw;
    height: 37vh;
    justify-content: center;
    gap: 9%;
}

.a-box2{
    display: flex;
    border: 1px solid rgb(255, 255, 255);
    width: 20vw;
    height: 100%;
    border-radius: 20px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 2%;
    color: #ffffff9d;
}

.a-box2:hover{
    background-image: url("/public/storage/img/git.svg");
    background-size: cover;
    background-repeat: no-repeat;
}


.habilidades{
    display: flex;
    flex-direction: column;
    /* border: 1px solid green; */
    width: 100vw;
    height: 100vh;
    align-items: center;
    background: linear-gradient(to bottom, #171E2B, #000);
}


.habilidades-title{
    display: flex;
    /* border: 1px solid blue; */
    width: 90vw;
    height: 12vh;
    margin: 8%;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.habilidades-title h1{
    font-size: 300%;
}


.habilidades-base{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 90vw;
    height: 20%;
    justify-content: center;
    align-items: center;
}

.habilidades-up{
    display: flex;
    /* border: 1px solid green; */
    flex-direction: row;
    width: 90vw;
    height: 20vh;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 2%;
}

.habilidades-boxes1{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    background: #171E2B;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.281);
    width: 8vw;
    padding: 1%;
    height: 80%;
    justify-content: center;
    align-items: center;
    gap: 9%;
    transition: transform 0.3s ease;
}

.habilidades-boxes1:hover{
    transform: scale(1.1);
}

.habilidades-boxes1 img{
    width: 60%;
    height: 60%;
    border-radius: 10px;
}

.habilidades-boxes1 p{
    font-size: 130%;
}

.habilidades-down{
    display: flex;
    /* border: 1px solid green; */
    flex-direction: row;
    width: 90vw;
    height: 20vh;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 2%;
}

.habilidades-boxes2{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    border-radius: 20px;
    background: #171E2B;
    border: 1px solid rgba(255, 255, 255, 0.281);
    width: 8vw;
    padding: 1%;
    height: 80%;
    justify-content: center;
    align-items: center;
    gap: 9%;
    transition: transform 0.3s ease;
}

.habilidades-boxes2:hover{
    transform: scale(1.1);
}

.habilidades-boxes2 img{
    width: 60%;
    height: 60%;
    border-radius: 10px;
}

.habilidades-boxes2 p{
    font-size: 130%;
}



.proyectos{
    display: flex;
    flex-direction: column; 
    /* border: 1px solid yellow; */
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #000, #171E2B);
    /* justify-content: center; */
    align-items: center;
}

.proyectos-title{
    display: flex;
    /* border: 1px solid blue; */
    width: 90vw;
    height: 12vh;
    /* margin: 8%; */
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 200%;
}

.proyectos-base{
    display: flex;
    /* border: 1px solid green; */
    width: 90vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.proyecto-boxes{
    display:flex;
    border: 1px solid rgba(255, 255, 255, 0.281);
    flex-direction: column;
    width: 25vw;
    height: 60vh;
    border-radius: 8%;
    color: #fff;
    align-items: center;
    text-decoration: none;
}

.proyecto-boxes:hover{
    background: #ffffff1e;
    cursor: pointer;
}

.proyecto-boxes h1{
    font-size: 180%;
    margin-top: 8%;
}

.proyecto-boxes img{
    width: 30%;
    height: 20%;
    margin-top: 8%;
}

.proyecto-boxes p{
    /* border: 1px solid red; */
    width: 20vw;
    height: 20vh;
    text-align: justify;
    margin-top: 10%;
    font-size: 120%;
}







/* -------------------------------INICIO DE LA PÁGINA------------------------------------- */


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideInFromLeft {
    from { transform: translateX(-100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes slideInFromRight {
    from { transform: translateX(100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes scaleUp {
    from { transform: scale(0); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

@keyframes rotate {
    from { transform: rotate(-180deg); opacity: 0; }
    to { transform: rotate(0); opacity: 1; }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-30px); }
    60% { transform: translateY(-15px); }
}

.fade-in {
    animation: fadeIn 1s ease-in forwards;
}

.slide-in-left {
    animation: slideInFromLeft 1s ease-out forwards;
}

.slide-in-right {
    animation: slideInFromRight 1s ease-out forwards;
}

.scale-up {
    animation: scaleUp 1s ease-out forwards;
}

.rotate-in {
    animation: rotate 1s ease-out forwards;
}

.bounce-in {
    animation: bounce 1s ease-out forwards;
}

/* Aplicando las animaciones a elementos específicos */
.nav {
    opacity: 0;
    animation: slideInFromLeft 1s ease-out forwards;
    animation-delay: 0.5s;
}

.box-1 img {
    opacity: 0;
    animation: scaleUp 1s ease-out forwards;
    animation-delay: 1s;
}

.box-1 h1 {
    opacity: 0;
    animation: slideInFromRight 1s ease-out forwards;
    animation-delay: 1.5s;
}

.box-1 p {
    opacity: 0;
    animation: slideInFromRight 1s ease-out forwards;
    animation-delay: 1.5s;
}





/* ------------------------------Back To Top Button ------------------------------------ */
.back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #7f83b8;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1; /* Cambiado de 0 a 1 para que sea visible inicialmente */
    transition: background-color 0.3s;
    z-index: 9999; 
  }
  
  .back-to-top-btn:hover {
    background-color: #a08a6e;
  }
  
  .back-to-top-btn svg {
    width: 24px;
    height: 24px;
  }


/* ------------------------------------------------- Estilos para la barra de scroll con tema oscuro --------------------------- */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #1e1e1e;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #35486b;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #384e7a;
}